{% extends "base.html" %}
{% load pygmentize %}
{% load django_bootstrap5 %}
{% comment %} # TODO:効いてない {% endcomment %}
{% block extraheader %}
  <style>{% pygments_css %}</style>
{% endblock extraheader %}
{% block main %}
  <h2>{{ snippet.title }} by {{ snippet.created_by.username }}</h2>
  <div class="snippet-date">
    投稿日：{{ snippet.created_at|date:"DATETIME_FORMAT" }}
    {% if user.is_authenticated and snippet.created_by.id == user.id %}
      <a href="{% url 'snippet_edit' snippet.id %}">編集</a>
    {% endif %}
  </div>
  <div class="source-code">{{ snippet.code|pygmentize:"python3" }}</div>
  <p>{{ snippet.description|urlize }}</p>
  <div class="comment-list-container">
    {% if comments.length != 0 %}
      <h3>コメント一覧</h3>
      {% for comment in comments %}
        <div class="comment-container">
          <p>{{ comment.text }}</p>
          <p>by {{ comment.commented_by }} さん {{ comment.commented_at }}</p>
        </div>
      {% endfor %}
    {% endif %}
    <div class="comment-field">
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="コメント" %}
      </form>
    </div>
  </div>
{% endblock main %}
